# Virtual environment
llm/

# ChromaDB persistent directory
chroma/


# Python cache files
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
